/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    body {
        font-size: 16px;
    }

    .hero {
        height: 100vh;
        min-height: initial;
    }
    .main {
        min-height: 600px;
        padding-top: 487px;
        height: auto;
        justify-content: flex-start;
        background-color: #0a0a0a;
        background-image: url(../img/main_mob.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
    }
    @supports (background-image: url('../img/main_mob.webp')) {
        .main {
            background-image: url('../img/main_mob.webp');
        }
    }
    @supports (background-image: url('../img/main_mob.avif')) {
        .main {
            background-image: url('../img/main_mob.avif');
        }
    }
    .main__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 15px;
        padding-top: 0;
    }
    .main__schedule {
        margin: auto 0;
        width: 100%;
    }
    .main__name {
        font-size: 17px;
        margin-bottom: 0;
        letter-spacing: 8px;
    }
    .main__logo {
        margin: 0 -20px;
    }
    .main__logo img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: -10px;
    }
    .menu__links {
        font-size: 2.7vw;
        letter-spacing: 1vw;
        margin-top: 0;
    }
    .menu__links li::after {
        margin: 0 5px;
    }
    .item-schedule {
        margin-bottom: 15px;
    }
    .link-page,
    .item-schedule__title {
        font-size: 18px;
        line-height: 18px;
    }
    .item-schedule__title {
        font-size: 15px;
    }
    .item-schedule__description {
        font-size: 12px;
        line-height: 20px;
    }
    .list-schedule {
        columns: 2;
    }
    .item-schedule {
        break-inside: avoid;
    }
    .main__about {
        margin-bottom: 38px;
        width: 100%;
    }
    .link-page {
        border-bottom: 1px #fff solid;
    }
    .main__buy {
        padding-top: 20px;
        display: none;
    }

    .menu {
        padding-top: 40px;
        padding-bottom: 10px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        bottom: 0;
    }
    .menu::before {
        display: none;
    }
    .menu__list {
        font-size: 14px;
        gap: 20px;
        letter-spacing: 0.4px;
    }

    .fixed-buttons {
        gap: 12px;
        top: 20px;
        right: 20px;
    }
    .link-main {
        font-size: 14px;
        letter-spacing: 3px;
    }
    .btn-music {
        width: 20px;
        height: 30px;
    }

    .premiere__title {
        font-size: 24px;
        margin-bottom: 30px;
    }


    .biography::before,
    .tickets::before {
        background: rgba(34, 34, 34, 0.4);
    }
    .tickets__item {
        font-size: 15px;
        line-height: 1.5;
        border-bottom: 1px #fff solid;
    }
    .tickets__list li {
        margin-bottom: 15px;
    }
    .tickets__list li:last-child {
        margin-bottom: 0;
    }
    .hero__title {
        font-size: 25px;
        padding: 20px;
        top: 40px;
        left: 0;
        letter-spacing: 2px;
        writing-mode: initial;
    }
    .tickets {
        padding: 0 20px;
        min-height: 470px;
    }

    .biography {
        padding: 120px 20px;
        padding-top: 386px;
        height: auto;
        background-color: #060606;
        background-image: url(../img/biography_mob.jpg);
        background-size: 100% auto;
        background-position: center top;
    }
    @supports (background-image: url('../img/biography_mob.webp')) {
        .biography {
            background-image: url('../img/biography_mob.webp');
        }
    }
    @supports (background-image: url('../img/biography_mob.avif')) {
        .biography {
            background-image: url('../img/biography_mob.avif');
        }
    }
    .biography::before {
        display: none;
    }
    .biography .hero__title {
        writing-mode: sideways-lr;
    }
    .biography__quote {
        font-size: 16px;
        margin-bottom: 70px;
        text-align: center;
        max-width: 100%;
        width: 100%;
    }
    .biography__column:nth-child(1) {
        width: 100%;
        margin-right: 0;
    }
    .biography__column:nth-child(2) {
        width: 100%;
    }
    .biography__column:nth-child(3) {
        width: 100%;
    }
    .biography__wrap {
        gap: 0;
        font-size: 14px;
        padding-right: 0;
        display: block;
    }
    .biography::before {
        background: rgba(34, 34, 34, 0.5);
    }
    .hidden-mob {
        display: none;
    }


    .contacts {
        min-height: 420px;
        padding: 0 20px;
    }
    .contacts__content {
        width: 360px;
    }
    .contacts__list {
        margin-bottom: 25px;
    }
    .contacts__list,
    .contacts__content .link-page {
        font-size: 15px;
    }
    .contacts__line {
        margin-top: 32px;
        gap: 15px;
    }
    .contacts__info {
        font-size: 15px;
    }
    .contacts__info br {
        display: none;
    }

    .gallery {
        padding: 50px 15px;
        padding-bottom: 90px;
    }
    .slider-gallery .slick-slide {
        padding: 0 10px;
        height: inherit !important;
    }
    .slider-gallery .slick-list {
        margin: 0 -10px;
    }
    .item-video__thumb {
        height: 200px;
        margin-bottom: 16px;
        border-radius: 16px;
    }
    .item-video__thumb img {
        border-radius: 16px;
    }
    .item-video__title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .item-video__duration {
        padding: 4px 6px;
        bottom: 10px;
        font-size: 13px;
        right: 10px;
        border-radius: 7px;
    }
    .item-video__views::after {
        margin: 0 7px;
    }
    .item-video__info {
        font-size: 14px;
    }
    .slick-arrow {
        width: 50px;
        height: 50px;
        top: 70px;
    }
    .slick-prev {
        left: 0px;
    }
    .slick-next {
        right: 0px;
    }
    .slick-arrow svg {
        width: 12px;
    }
    .item-video {
        width: 299px;
        display: block;
    }
    .menu__links a {
        border-width: 1px;
    }

    .modal-wrap {
        width: 400px;
        padding: 35px 20px;
    }
    .fancybox-slide {
        padding-left: 15px;
        padding-right: 15px;
    }
    .title-modal {
        font-size: 20px;
        margin-bottom: 20px;
        letter-spacing: 0.5px;
    }
    .item-form {
        margin-bottom: 15px;
    }
    .item-form input,
    .item-form textarea {
        height: 45px;
        width: 100%;
        font-size: 16px;
    }
    .agree-form,
    .checkbox {
        font-size: 14px;
        margin-top: 20px;
    }
    .agree-form {
        margin-top: 12px;
    }
    .agree-form br {
        display: none;
    }
    .checkbox label {
        gap: 10px;
    }
    .checkbox label input {
        width: 19px;
        height: 19px;
    }
    .checkbox label input::before {
        background-size: 10px auto;
    }
    .btn-main {
        height: 45px;
        padding: 0 15px;
        letter-spacing: 3px;
        font-size: 16px;
        border-width: 1px;
    }
    .modal-wrap .btn-main {
        margin-top: 20px;
    }
    .fancybox-slide--html .fancybox-close-small {
        width: 40px;
        height: 40px;
        padding: 6px;
    }
    .descr-thanks {
        font-size: 15px;
    }
}


@media (hover: hover) {
    .menu__links a:hover,
    .link-main:hover,
    .contacts__list .link-page:hover,
    .menu__list a:hover {
        border-color: #fff;
    }
    .link-page:hover,
    .tickets__item:hover {
        border-color: transparent;
    }
    .btn-main:hover {
        background: transparent;
        color: #fff;
    }
}

@media (hover: none) {
    .menu__links a:active,
    .link-main:active,
    .contacts__list .link-page:active,
    .menu__list a:active {
        border-color: #fff;
    }
    .link-page:active,
    .tickets__item:active {
        border-color: transparent;
    }
    .btn-main:active {
        background: transparent;
        color: #fff;
    }
}